.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("C:\Users\User\OneDrive\Pictures\Saved Pictures\boy-2.jpg");
}
.login-container {
    width: 40vw;
    height: 40vh;
   
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .login-container h2 {
    text-align: center;
    margin-top: 20px;
    
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

.login-container {
    
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-size: cover; 
    background-repeat: no-repeat;
    text-align: center;
    
  }
  
  .form-group input {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #00050a;
  }
  
  button #1 {
    width: 40%;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 3px 4px 6px rgba(243, 24, 196, 0.765); 
    text-transform: uppercase; 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .g{
    padding-left: 450px;
    padding-top: 100px;
  }